#h1 {
    height: 500px;
    background-color: rgba(29, 33, 66, 0.911);
    margin-left: -20px;
    margin-right: -8px;
}

#img1 {
    height: 50px;
    width: 90px;
    position: absolute;
    left: 60px;
    top: 30px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    border: 1px solid white;
}

.one {
    float: right;
}

.one a {
    display: block;
    color: rgb(14, 13, 13);
    padding: 10px 10px;
    text-decoration: none;
    font-size: large;
}

.one {
    float: left;
}

.one a:hover {
    color: rgb(194, 63, 2);

}

.main {
    position: relative;
    display: inline-block;
}


.second {
    position: absolute;
    display: none;
    color: rgb(92, 82, 82);
    min-width: 160px;
    box-shadow: 0px 10px 16px 10px black;
    border-bottom: 1px black;
}

.second a {
    display: block;
    color: rgb(49, 47, 47);
    padding: 10px 10px;
    background-color: white;
    position: fixed;
}

.main:hover .second {
    display: block;
}

#li1 {
    position: absolute;
    left: 125px;
    top: -500.5px;

    font-weight: 900;

}

#li2 {
    position: absolute;
    left: 550px;
    top: -497px;
    font-weight: 900;
}

#h11 {
    position: absolute;
    left: 240px;
    top: 40px;
}

#a11 {
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    position: absolute;
    left: 180px;
    top: 150px;
}

#p1 {
    position: absolute;
    left: 180px;
    top: 100px;
    color: white;
    font-size: 80px;
}

#p2 {
    position: absolute;
    left: 180px;
    top: 260px;
    font-size: 25px;
    color: white;
}

#input {
    position: absolute;
    top: 380px;
    left: 180px;
    height: 40px;
    width: 600px;
    border: 2px solid orange;
    padding-left: 20px;
    background-color: white;
    font-size: 18px;

}

#sub {
    position: absolute;
    left: 820px;
    top: 380px;
    height: 45px;
    width: 200px;
    border: 2px solid white;
    padding-left: 20px;
    background-color: rgba(49, 53, 85, 0.911);
    font-size: 18px;
    color: white;
    cursor: pointer;

}

#input2 {
    background-color: rgb(255, 153, 0);
    height: 40px;
    width: 200px;
    border: 2px solid rgb(255, 153, 0);
    position: absolute;
    left: 1030px;
    top: 380px;
}

#pp {
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    left: 1070px;
    top: 370px;
    cursor: pointer;
    color: white;
}


#div11 {
    border: 2px solid rgb(117, 110, 110);
    height: 45px;
    width: 90px;
    position: absolute;
    right: 80px;
    top: 60px;
}

#ppp {
    position: absolute;
    right: 98px;
    top: 54px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

#ppp:hover {
    color: orangered;
}

#a111 {
    position: absolute;
    top: 75px;
    right: 220px;
    text-decoration: none;
    color: white;
    font-size: 20px;

}

#a111:hover {
    color: orangered;
}

#p0 {
    position: absolute;
    left: 180px;
    top: 450px;
    font-size: 22px;
    color: rgb(27, 23, 23);
}

#a1a {
    text-decoration: none;
    position: absolute;
    left: 330px;
    top: 473px;
    color: white;
    font-size: 20px;
}

#a1a:hover {
    color: orangered;
}

#a2a {
    text-decoration: none;
    position: absolute;
    left: 440px;
    top: 473px;
    color: white;
    font-size: 20px;
}

#a2a:hover {
    color: orangered;
}

#img {
    height: 60px;
    width: 70px;
    border-radius: 30px;
    position: absolute;
    top: 50px;
    right: 290px;
    cursor: pointer;
}

#img:hover {
    opacity: 0.5;
}

#heading {
    position: absolute;
    left: 300px;
    font-size: 50px;
}

#paragraph {
    position: absolute;
    top: 700px;
    left: 300px;
    font-size: 20px;
    color: rgb(24, 23, 23);
}

#img3 {
    height: 700px;
    width: 1070px;
    position: absolute;
    left: 150px;
    top: 850px;
}

#paragraph1 {
    position: absolute;
    top: 1580px;
    left: 580px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(73, 62, 62);
}

#hr {
    margin-top: 1130px;
    height: 1px;
    width: 1250px;
    background-color: rgb(165, 148, 148);
}

#heading1 {
    position: absolute;
    left: 300px;
    top: 1700px;
    font-size: 50px;
}

#paragraph2 {
    position: absolute;
    top: 1850px;
    left: 300px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(73, 62, 62);
}

#img4 {
    height: 700px;
    width: 1070px;
    position: absolute;
    left: 150px;
    top: 2000px;
}

#paragraph3 {
    position: absolute;
    top: 2700px;
    left: 500px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(73, 62, 62);
}

#aa11 {
    position: absolute;
    left: 400px;
    margin-top: 1100px;
    font-size: 20px;
    color: rgb(187, 135, 23);
    font-weight: 900;
}

#pp11 {
    position: absolute;
    left: 520px;
    margin-top: 1100px;
    font-size: 20px;
    font-weight: 900;
    color: rgba(29, 16, 211, 0.699);
}

#aa22 {
    position: absolute;
    left: 550px;
    margin-top: 1100px;
    font-size: 20px;
    color: rgba(29, 16, 211, 0.699);
    text-decoration: none;
    font-weight: 900;

}

#aa22:hover {
    color: orangered;
}

#pp22 {
    position: absolute;
    left: 720px;
    margin-top: 1100px;
    font-size: 20px;
    font-weight: 900;
    color: rgba(29, 16, 211, 0.699);
}

#aa33 {
    position: absolute;
    left: 750px;
    margin-top: 1100px;
    font-size: 20px;
    color: rgba(29, 16, 211, 0.699);
    text-decoration: none;
    font-weight: 900;
}

#aa33:hover {
    color: orangered;
}

#hr1 {
    margin-top: 1180px;
    height: 1px;
    width: 1250px;
    background-color: rgb(172, 160, 160);
}

#heading21 {
    margin-left: 300px;
    font-size: 50px;

}

#pppp {
    margin-left: 300px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(73, 62, 62);
}

#imgimg {
    height: 700px;
    width: 1070px;
    margin-left: 150px;
}

#para {
    margin-left: 530px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(73, 62, 62);
}

#hr2 {
    margin-top: 30px;
    height: 1px;
    width: 1250px;
    background-color: rgb(172, 160, 160);
}

#div01 {
    margin-top: 220px;
    height: 1500px;
    width: 400px;
    background-color: rgb(25, 0, 136);
}

#div02 {
    margin-top: -1520px;
    margin-left: 320px;
    height: 1520px;
    width: 400px;
    background-color: rgb(25, 0, 136);
}

#div03 {
    margin-top: -1540px;
    margin-left: 600px;
    height: 1540px;
    width: 400px;
    background-color: rgb(25, 0, 136);
}

#div04 {
    margin-top: -1560px;
    margin-left: 940px;
    height: 1560px;
    width: 400px;
    background-color: rgb(25, 0, 136);
}

#para1 {
    margin-top: -1400px;
    margin-left: 150px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#para2 {
    margin-left: 150px;
    font-size: 40px;
    margin-top: -90px;
    font-weight: 700;
    color: rgb(97, 91, 91);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#div05 {
    height: 350px;
    width: 200px;
    background-color: rgb(65, 12, 150);
    margin-left: 150px;
    margin-top: 200px;
}

#div06 {
    height: 350px;
    width: 800px;
    background-color: white;
    float: right;
    margin-top: -350px;
    margin-right: 185px;
}

#div07 {
    height: 45px;
    width: 100px;
    background-color: rgb(255, 136, 0);
}

#div08 {
    float: left;
    margin-top: -330px;
    margin-left: 180px;
}

#para3 {
    color: white;
    font-weight: 900;
    font-size: 20px;
}

#para4 {
    color: rgb(153, 147, 147);
    margin-top: -10px;
    font-size: 20px;
}

#para5 {
    color: rgb(117, 109, 109);
    font-size: 25px;
    font-weight: 900;
    margin-top: -10px;
}

#para6 {
    position: absolute;
    left: 230px;
    top: 4695px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(95, 90, 90);
}

#aa44 {
    position: absolute;
    left: 190px;
    top: 4765px;
    text-decoration: none;
    color: rgb(54, 51, 51);
    font-weight: 900;
    padding: 10px;
}

#div09 {
    float: right;
    margin-right: 800px;
    margin-top: -340px;
    border-right: 2px solid black;
}

#para7 {
    color: rgb(0, 0, 0);
    margin-top: 25px;
    font-size: 20px;
    font-weight: 900;
}

#para8 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    margin-top: -10px;
}

#para9 {

    font-size: 20px;
    font-weight: 600;
    color: rgb(32, 31, 31);
}

#para0 {
    position: absolute;
    left: 415px;
    top: 4705px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(100, 81, 81);
}

#aa55 {
    position: absolute;
    left: 385px;
    top: 4765px;
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: 900;
    padding: 10px;

}

#div10 {
    float: right;
    margin-right: 600px;
    margin-top: -340px;
    border-right: 2px solid black;
}

#v1 {
    color: rgb(0, 0, 0);
    margin-top: 25px;
    font-size: 20px;
    font-weight: 900;
}

#v2 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    margin-top: -10px;
}

#v3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(32, 31, 31);
}

#v4 {
    position: absolute;
    left: 615px;
    top: 4705px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(100, 81, 81);
}

#aa66 {
    position: absolute;
    left: 585px;
    top: 4765px;
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: 900;
    padding: 10px;
}

#div111 {
    float: right;
    margin-right: 400px;
    margin-top: -340px;
    border-right: 2px solid black;
}

#v5 {
    color: rgb(0, 0, 0);
    margin-top: 25px;
    font-size: 20px;
    font-weight: 900;
}

#v6 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    margin-top: -10px;
}

#v7 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(32, 31, 31);
}

#v8 {
    position: absolute;
    left: 815px;
    top: 4705px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(100, 81, 81);
}

#aa77 {
    position: absolute;
    left: 780px;
    top: 4765px;
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: 900;
    padding: 10px;
}

#div222 {
    float: right;
    margin-right: 200px;
    margin-top: -340px;

}

#v01 {
    color: rgb(0, 0, 0);
    margin-top: 25px;
    font-size: 20px;
    font-weight: 900;
}

#v02 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    margin-top: -10px;
}

#v03 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(32, 31, 31);
}

#v04 {
    position: absolute;
    left: 1035px;
    top: 4705px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(100, 81, 81);
}

#aa88 {
    position: absolute;
    left: 980px;
    top: 4765px;
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: 900;
    padding: 10px;
}

#v11 {
    background-color: black;
    height: 1020px;
    width: 400px;
    margin-top: 280px;
}

#v22 {
    background-color: black;
    height: 1050px;
    width: 400px;
    margin-left: 320px;
    margin-top: -1050px;
}

#v33 {
    background-color: black;
    margin-left: 640px;
    height: 1080px;
    width: 400px;
    margin-top: -1080px;
}

#v44 {
    background-color: black;
    margin-left: 960px;
    height: 1110px;
    width: 400px;
    margin-top: -1110px;
}

#p00 {
    color: white;
    position: absolute;
    left: 150px;
    top: 5300px;
    font-size: 25px;
}

#select1 {
    position: absolute;
    left: 150px;
    top: 5380px;
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#th0 {
    position: absolute;
    left: 340px;
    top: 5320px;
    font-size: 17px;
    color: white;
}

#th01 {
    position: absolute;
    left: 180px;
    top: 5320px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

#th01:hover {
    color: orangered;
}

#th02 {
    font-size: 17px;
    margin-left: 300px;
}

#th03 {
    position: absolute;
    left: 650px;
    top: 5320px;
    font-size: 17px;
    color: white;
}

#th04 {
    position: absolute;
    right: 310px;
    top: 5320px;
    font-size: 17px;
    color: white;
}

#th05 {
    position: absolute;
    right: 130px;
    top: 5320px;
    font-size: 17px;
    color: white;
}

#ul1 {
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    left: 295px;
    margin-top: -880px;
    border: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orangered;
}

#ul2 {
    line-height: 30px;
    font-size: 17px;
    position: absolute;
    left: 450px;
    margin-top: -880px;
    border: 0px;
}

#ul3 {
    line-height: 30px;
    font-size: 17px;
    position: absolute;
    left: 650px;
    margin-top: -880px;
    border: 0px;
}

#ul4 {
    line-height: 30px;
    font-size: 17px;
    position: absolute;
    left: 950px;
    margin-top: -880px;
    border: 0px;
}

#ul5 {
    line-height: 30px;
    font-size: 17px;
    position: absolute;
    left: 1120px;
    margin-top: -880px;
    border: 0px;
}

#ppp1 {
    margin-top: -200px;
    margin-left: 120px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}